$bgc : #f5f5f5;
$H2:1.6rem;
$mc:#F17C67; //主色
$live_m:#f76177;

//字体颜色
$f_m:#fff;

//边框颜色
$b_m:#e1e1e1; 
$b_waring: #DF453E; //警告颜色



@mixin flex($horizontal:center,$vertical:center){
    display:flex;justify-content:$horizontal; align-items:$vertical;
}
// @mixin bg_rgba{
//     background-color:rgba()
// }




.header{
    width:100%;height:4.2rem;background-color:$mc;display:flex; justify-content:center;
    align-items:center;
    font-size:$H2;
    position:relative;overflow:hidden;
    & h2{
        font-weight:normal;color:$f_m;
    }
    & span{display:block; position:absolute; left:0; width:4.2rem; height:100%; display:flex; 
        justify-content:center;align-items:center;font-size:2rem;color:$f_m;
        text-align:center;}

}

.components-input{
    width:100%; display:flex; border-bottom:1px solid $b_m; height:35px; margin-top:25px;position:relative;
    & > i {display:block; width:35px; height:100%;display:flex; justify-content:center; align-items:center;color:#666;}
    & > input[type = "text"],
    & > input[type = "email"],
    & > input[type = "number"],
    & > input[type = "password"] {
        border:none; outline:none; flex:1 1 auto; line-height:150%;
    }
    
    & .components-tips{ top:100%;}
}


.components-button{
    background-color:$mc; color:$f_m; font-size:1.4rem;line-height:2; padding:0 3.4rem; border:none; border-radius:3px;
    &.large{width:100%; line-height:2.5;}
    &.middle{width:60%;}
    &.small{padding:0 20px; line-height:1.6;}
}
.components-tips{
    display:inline-block;vertical-align:top; line-height:2; padding:0 10px; border:1px solid $b_waring; border-radius:3px;
    position:absolute;background-color:#fff; color:#000; box-sizing:border-box;z-index:1;

    &:after,
    &:before{
        display:block; content:'';border:7px solid $b_waring;position:absolute;
    }
    &.top{
        &:before,
        &:after{top:-7px; left:50%; border-top:none;  transform:translateX(-50% );border-left-color:transparent; border-right-color:transparent;}
        &:after{
            border-bottom-color:#fff;top:-6px;
        }
    }
    
    &.right{
        &:before,
        &:after{right:-7px; top:50%; border-right:none;  transform:translateY(-50% );border-top-color:transparent; border-bottom-color:transparent;}
        &:after{
            border-left-color:#fff;right:-6px;
        }
    }
    &.bottom{
        
        &:before,
        &:after{ bottom:-7px; border-bottom:none; left:50%; transform:translateX(-50% ); border-left-color:transparent; border-right-color:transparent }
        &:after{ border-top-color:#fff; bottom:-6px;
        }
    }
    &.left{
        &:before,
        &:after{left:-7px; top:50%; transform:translateY(-50% ); border-left:none; border-top-color:transparent; border-bottom-color:transparent }
        &:after{
            border-right-color:#fff; left:-6px;
        }
    }
  
}
.components-avatar{
    display:inline-block; vertical-align:top;overflow:hidden;
    & > img {
        display:block; border:none; width:100%; height:100%;
    }
    &.radius{
        border-radius:3px;
    }
}

html,body{
    width:100%; height:100%;
}

#root{width:100%;height:100%;}
.live-container{
width:100%;height:100%; padding-top:35px; box-sizing:border-box; background:url('../images/bg.png') left top no-repeat;background-size:100% 100%;position:relative;
    & .live-guest{
        width:100%; z-index:1; padding:0 10px; box-sizing:border-box;
        display:flex; justify-content:space-between; align-items:center;
        & .room-owner{
            flex:0 0 14rem; width:14rem; height:3.7rem;margin-left:1rem;position:relative; border-radius:5px;background-color:rgba(0,0,0,0.4);
            display:flex; justify-content:center; align-items:center;
            & .owner-img  {position:absolute; top:-0.4rem;left:-1rem; display:block; border-radius:50%;overflow:hidden; background-color:#fff; padding:2px; box-sizing:border-box;
                width:4.5rem; height:4.5rem;
                & img { width:100%; height:100%; display:block; border-radius:50%; }
            }
            & .owner-info{ flex:1 1 auto; padding-left:4.1rem;box-sizing:border-box;color:#fff;
                & h4 { line-height:1.6rem; font-size:1.4rem; font-weight:normal;}
                & p { line-height:1.2rem; font-size:1.2rem;}
            }
            & .like-btn{
                display:block; width:2.6rem; height:2.6rem; border-radius:5px; margin-right:.3rem;
               outline:none; border:none;background-color:$live_m; color:#fff; line-height:2.6rem;
            }
        }
        & .guest-list{
            flex:1 1 auto;display:flex; justify-content:flex-end; align-items:center;margin-left:1rem;
            position:relative;z-index:1;
            & section{flex:0 0 auto; height:3.7rem;overflow:hidden; 
                &>ul{width:100px; height:100%;overflow-x:scroll;white-space:nowrap;
                    font-size:0;
                    & > li {
                        width:3.7rem; height:3.7rem;margin-right:.5rem; display:inline-block;vertical-align:top; font-size:1rem; border-radius:50%; overflow:hidden;
                        & a,
                        & img {
                            width:100%; height:100%; border-radius:50%;
                        }
                    }
                    & ::-webkit-scrollbar{ display:none;}
                
                }
                & ::-webkit-scrollbar{ display:none;}
            }
            & button{
               flex:0 0 3.7rem; display:block; border:none; outline:none; width:3.7rem; height:3.7rem; font-size:2rem; color:#fff; font-weight:bold;background-color:transparent;
            }
        }
        
    
    
    }
    & .room-title{
        width:100%;color:#fff; margin-top:2rem;padding-left:1rem;box-sizing:border-box;position:relative;
        & h3{
            display:inline-block; vertical-align:top;height:3.2rem; padding:0 1.5rem; box-sizing:border-radius; 
            border-radius:1.6rem; line-height:3.2rem; background-color:rgba(245,92,122,0.4);font-weight:normal;
        }
    }

    & #test_live{
        width:100%; height:100vh;position:fixed;z-index:0; left:0; top:0;
    }

}




.components-badge{
    display:inline-block;vertical-align:top; background-color:$mc; color:#fff; height:2.4rem;line-height:2.4rem; min-width:2.4rem; text-align:center; 
     border-radius:1.2rem;
}
.list-container{
    padding:0 1rem; box-sizing:border-box;
}